# =========================
# Node.js .gitignore
# =========================

# Dependencies
/node_modules/

# Build output
/dist/
/build/
/coverage/


# Env files
.env*

# OS files
.DS_Store
Thumbs.db